<!DOCTYPE html><html lang="en">
<head><meta charset="utf-8" />
<title>Reset your password</title>
</head>
</body>
<p>Hello {{ login|e }}.</p>
<p>To reset the password of your {{ site_name|e }} account, please go to this URL within {{ expire_after / 60 }} hours:</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
<hr>
<p>If you didn't request a password reset, please ignore this email and don't worry, your account is still safe.</p>
<p>Best regards,</p>
<p>{{ site_name|e }}</p>
</body></html>