[run]
branch = True
omit = tests/*, setup.py, authcode/_compat.py, authcode/wsgi/cherrypy.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # pragma: no cover

[html]
directory = htmlcov
