[run]
branch = True
omit =
    tests/*, setup.py, authcode/_compat.py,
    authcode/setups/setup_for_shake.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # pragma: no cover

[html]
directory = htmlcov
