~*
.DS_Store
*.py[co]
build
dist
*.egg*
.idea
*.sublime-project
*.sublime-workspace
.coverage
.tox
htmlcov
wheel
__pycache__
heroku
_secret.py
.secret
.coveralls.yml
docs/_assets/*
docs/_build/*
docs/_theme_*/*
docs/_themes/lucuma/static/.webassets-cache/*
temp