<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}AuthCode example{% endblock %}</title>
  <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
</head>
<body>
  <nav>
    {% if g.user %}    
      <a href="{{ url_for('logout') }}">Sign out</a>
    {% else %}
    <a href="{{ url_for('login') }}" class="button">Sign in</a>
    {% endif %}
  </nav>
  
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>