{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
{% if ok -%}

  <form>
    <fieldset><!-- PASSWORD UPDATED -->
      <h1>Password updated.</h1>
      <a href="{{ auth.sign_in_redirect }}">Click here to continue.</a>
    </fieldset>
  </form>

{% else %}

  <form action="" method="POST">

    {% if error -%}
    <fieldset class="error">
      {%- if error == 'FAIL' -%}
        <!-- ERROR FAIL -->
        Wrong current password.
      {%- elif error == 'TOO SHORT' -%}
        <!-- ERROR TOO SHORT -->
        The password is too short <br>(must be at least <code>{{ auth.password_minlen }}</code> chars long).
      {%- elif error == 'TOO LONG' -%}
        <!-- ERROR TOO LONG -->
        The password is too long <br>(must be at most <code>{{ auth.password_maxlen }}</code> chars long).
      {%- elif error == 'MISMATCH' -%}
        <!-- ERROR MISMATCH -->
        The password doesn't match the confirmation.
      {%- endif -%}
    </fieldset>
    {%- endif %}

    <fieldset class="info">
      <h1>Reset password</h1>
    </fieldset>

    {% if manual -%}
    <fieldset>
      <input type="password" name="password" size="20" tabindex="1" placeholder="current password" autofocus>
    </fieldset>
    {%- endif %}

    <fieldset>
      <input type="password" name="np1" size="20" tabindex="2" placeholder="new password">
      <input type="password" name="np2" size="20" tabindex="3" placeholder="confirm new password">
    </fieldset>

    <fieldset class="actions">
      <a href="{% if manual %}javascript:history.back(1){% else %}{{ auth.sign_in_redirect }}{% endif %}" tabindex="5">Cancel</a>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <button class="btn" type="submit" tabindex="4">Change password &raquo;</button>
    </fieldset>
  </form>
{%- endif %}
{% endblock %}
