{% extends "base.html" %} {% block title %}Reset password{% endblock %}

{% block content -%}
{% if ok -%}

<form>
    <fieldset>
        <!-- EMAIL SENT -->
        <p>You will receive an email from us with a verification token for choosing a new password.</p>
        <h1>Please check your inbox.</h1>
    </fieldset>
</form>

{%- else -%}

<form action="" method="post" novalidate>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    {% if error == 'WRONG TOKEN' -%}

    <fieldset class="error">
        <!-- ERROR WRONG TOKEN -->
        Something is wrong with the link to reset your password.
        <br> Try to copy and paste it from the email or to reset your password again.
    </fieldset>

    {%- elif error == 'WRONG USER' -%}

    <fieldset class="error">
        <!-- ERROR WRONG USER -->
        The username you entered is not associated with a user in our records.
    </fieldset>

    {%- endif %}

    <fieldset class="info">
        <h1>Reset your password</h1>
        <p>Enter your user name and a verification token will be sent to you. You will be able to choose a new password for your account.</p>
    </fieldset>

    <fieldset>
        <input type="text" name="login" value="{{ credentials.login|e }}" size="20" maxlength="254" tabindex="1" placeholder="username" autofocus>
        </label>
    </fieldset>

    <fieldset class="actions">
        <a href="{{ auth.url_sign_in }}" tabindex="3">Sign in</a>
        <button class="btn" type="submit" tabindex="2">Reset password &raquo;</button>
    </fieldset>
</form>

{%- endif %}
{%- endblock %}
